<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <from method = "get" action = "/login">
        <p>Enter name</p>
        <p><input type = "text" name = "user_name" /></p>
        <p><input type = "text" passwd = "pw"/></p>
        <p><input type = "text" email = "email"/></p>
        <p><input type = "submit" value = "submit"/></p>
    </from>
    
</body>
</html>